@import url("https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap");
@font-face {
	font-family: "Moglan";
	src: url("../fonts/moglan.ttf") format("truetype");
	font-display: swap;
	font-weight: normal;
}
// @font-face {
// 	font-family: "Oswald";
// 	src: url("../fonts/Oswald-Regular.ttf") format("truetype");
// 	font-display: swap;
// 	font-weight: normal;
// }

.heading-font {
	font-family: "Moglan", sans-serif;
}
.body-font {
	font-family: "Oswald", sans-serif;
}
.signika {
	font-family: "Signika Negative", sans-serif !important;
}

buttons {
	// font-family: "I";
	font-family: "Inter", sans-serif !important;
	font-weight: 400 !important;
}
